<launch>
    <arg name="namespace" default="taluy" />
    <arg name="rate" default="20.0" />

    <arg name="engine_path" default="$(find auv_detection)/models/DA3METRIC-LARGE_476x644_sim.engine" />

    <arg name="camera_namespace" default="cameras/cam_torpedo" />
    <arg name="input_image_topic" default="$(arg camera_namespace)/image_rect_color" />
    <arg name="output_depth_topic" default="depth_anything/raw_depth" />
    <arg name="scaled_camera_info_topic" default="depth_anything/scaled_camera_info" />
    <arg name="frame_id" default="taluy/base_link/torpedo_camera_optical_link" />

    <group ns="$(arg namespace)">
        <node pkg="auv_vision" type="depth_anything_trt_node.py" name="depth_anything_trt_node" output="screen">
            <param name="engine_path" value="$(arg engine_path)" />
            <param name="rate" value="$(arg rate)" />
            <param name="camera_namespace" value="$(arg camera_namespace)" />
            <param name="frame_id" value="$(arg frame_id)" />

            <remap from="image_raw" to="$(arg input_image_topic)" />
            <remap from="raw_depth" to="$(arg output_depth_topic)" />
            <remap from="scaled_camera_info" to="$(arg scaled_camera_info_topic)" />
        </node>
    </group>
</launch>
