<launch>
    <arg name="namespace" default="taluy" />
    <arg name="rate" default="10.0" />

    <arg name="zmq_host" default="localhost" />
    <arg name="zmq_port" default="5555" />

    <arg name="camera_namespace" default="cameras/cam_front" />
    <arg name="input_image_topic" default="$(arg camera_namespace)/image_raw" />
    <arg name="output_depth_topic" default="depth_anything/raw_depth" />
    <arg name="output_colorized_topic" default="depth_anything/colorized" />
    <arg name="output_points_topic" default="depth_anything/points" />

    <group ns="$(arg namespace)">
        <node pkg="auv_vision" type="depth_anything_client.py" name="depth_anything_node" output="screen">
            <param name="zmq_host" value="$(arg zmq_host)" />
            <param name="zmq_port" value="$(arg zmq_port)" />
            <param name="rate" value="$(arg rate)" />
            <param name="camera_namespace" value="$(arg camera_namespace)" />

            <remap from="image_raw" to="$(arg input_image_topic)" />
            <remap from="raw_depth" to="$(arg output_depth_topic)" />
            <remap from="colorized" to="$(arg output_colorized_topic)" />
            <remap from="points" to="$(arg output_points_topic)" />
        </node>
    </group>
</launch>
