<launch>
  <arg name="namespace" default="taluy" />

  <group ns="$(arg namespace)">
    <!-- YOLO Segmentation to Mask Node -->
    <node
      pkg="auv_vision"
      type="yolo_to_mask_node.py"
      name="yolo_seg_to_mask_node"
      output="screen">
      <remap from="yolo_result_seg" to="/yolo_result_seg" />
      <param name="output_mask_topic" value="bottle_mask" />
    </node>

    <!-- Bottom Camera Segment Angle Node -->
    <node
      pkg="auv_detection"
      type="bottom_camera_segment_angle_node.py"
      name="bottom_camera_segment_angle_node"
      output="screen">
      <param name="mask_topic" value="bottle_mask" />
      <param name="measurement_topic" value="segment_measurement" />
      <param name="debug_topic" value="bottle_angle_debug" />
      <param name="min_bottle_area_px" value="1500" />
      <param name="min_contour_points" value="10" />
      <param name="publish_debug" value="true" />
    </node>

    <node
      pkg="auv_vision"
      type="dynamic_roll_compensation.py"
      name="dynamic_roll_compensation_node"
      output="screen">
      <remap from="odometry" to="odometry" />
      <remap from="camera/image_rect_color" to="cameras/cam_front/image_rect_color" />
      <remap from="camera/image_corrected" to="cameras/cam_front/image_corrected" />

      <param name="sync_queue_size" value="10"/>
      <param name="sync_slop" value="0.05"/>
      <param name="recalc_threshold_deg" value="0.1"/>
    </node>
    <node
      pkg="auv_vision"
      type="yolo_image_annotator.py"
      name="yolo_image_annotator_node"
      output="screen">

      <remap from="toggle_image_annotator" to="yolo_image_annotator/toggle_annotator"/>
      <remap from="cam_bottom/image_raw" to="cameras/cam_bottom/image_raw"/>
      <remap from="yolo_result" to="/yolo_result_shape_detection"/>

      <param name="save_directory" value="/tmp/yolo_annotated_images"/>
      <param name="font_scale" value="0.7"/>
      <param name="font_thickness" value="2"/>
    </node>
  </group>
</launch>
