<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find auv_common_descriptions)/urdf/sensors/wayfinder_dvl.urdf.xacro"/>
  <xacro:include filename="$(find auv_common_descriptions)/urdf/sensors/xsens_mti_g710.urdf.xacro"/>
  <xacro:include filename="$(find auv_common_descriptions)/urdf/sensors/h2c_hydrophone.urdf.xacro"/>
  <xacro:include filename="$(find auv_common_descriptions)/urdf/sensors/ping360.urdf.xacro"/>
  <xacro:include filename="$(find auv_common_descriptions)/urdf/sensors/bar30.urdf.xacro"/>
  <xacro:include filename="$(find auv_common_descriptions)/urdf/sensors/logitech_c920_camera.urdf.xacro"/>
  <xacro:include filename="$(find auv_common_descriptions)/urdf/sensors/sonar.urdf.xacro"/>
  <xacro:include filename="$(find auv_common_descriptions)/urdf/sensors/depth_camera.urdf.xacro"/>
</robot>
