<?xml version="1.0"?>
<model>
    <name>tac_docking_station</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>

    <author>
        <name>ITU AUV Team</name>
        <email>auv@itu.edu.tr</email>
    </author>

    <description>
        TAC competition docking station with 4 ArUco markers (IDs: 28, 7, 19, 96).
        Markers are positioned at the corners.
    </description>
</model>
