<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy" />
  <arg name="control_rate" default="20.0" />
  <arg name="world_name" default="$(find auv_sim)/worlds/singapore_pool.world" />
  <arg name="use_gui" default="false" />

  <!-- use Gazebo's empty_world.launch with singapore_pool.world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
    <arg name="verbose" value="true" />
  </include>

  <!-- use ned frame north east down -->
  <include file="$(find uuv_assistants)/launch/publish_world_ned_frame.launch" />

  <rosparam command="load" file="$(find auv_sim_description)/config/environment.yaml" />

  <!-- taluy robot spawn -->
  <include file="$(find auv_sim_bringup)/launch/spawn.launch">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="x" value="0" />
    <arg name="y" value="0" />
    <arg name="z" value="2.0" />
    <arg name="yaw" value="0" />
    <arg name="roll" value="3.14159" />
  </include>

  <!-- launch state publisher  -->
  <include file="$(find auv_sim_bringup)/launch/start_state_publisher.launch">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="use_gui" value="$(arg use_gui)" />
  </include>

  <include file="$(find auv_sim_bridge)/launch/start.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find auv_localization)/launch/start.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find auv_bringup)/launch/robot_localization.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find auv_control)/launch/start.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find auv_mapping)/launch/start.launch">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="control_rate" value="$(arg control_rate)" />
  </include>
</launch>