<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy" />

  <group ns="$(arg namespace)">
    <node
      pkg="auv_navigation"
      type="follow_path_action_server.py"
      name="follow_path_action_server"
      output="screen">
      <param name="source_frame" value="$(arg namespace)/base_link" />
    </node>
    <node
      pkg="auv_navigation"
      type="path_planner_node.py"
      name="path_planner_node"
      output="screen">
      <param name="robot_frame" value="$(arg namespace)/base_link" />
    </node>
  </group>
</launch>
