#!/usr/bin/env python
PACKAGE = "auv_mapping"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Core node parameters
gen.add("search_frame", str_t, 0, "Search start frame ID", "slalom_search_start")
gen.add("search_start_distance", double_t, 0, "Distance in front of pipes to start search (m)", 2.0, 0.0, 50.0)
gen.add("search_side_offset", double_t, 0, "Side offset for search frames (m)", 1.0, 0.0, 20.0)
gen.add("search_side_yaw_offset_deg", double_t, 0, "Yaw offset for search frames (degrees)", 30.0, 0.0, 180.0)

# Heatmap parameters
gen.add("heatmap_build_interval", double_t, 0, "Interval between heatmap builds (s)", 0.2, 0.0, 10.0)
gen.add("heatmap_color_sample_step", int_t, 0, "Sample step for heatmap detection colors", 10, 1, 100)
gen.add("heatmap_image_width_px", int_t, 0, "Heatmap canvas width (px)", 640, 64, 4096)
gen.add("heatmap_image_height_px", int_t, 0, "Heatmap canvas height (px)", 480, 64, 4096)
gen.add("heatmap_padding_px", int_t, 0, "Padding around heatmap content (px)", 50, 0, 200)
gen.add("heatmap_detection_deadzone_px", int_t, 0, "Reject detections too close to image border (px)", 5, 0, 100)
gen.add("heatmap_point_radius_px", int_t, 0, "Detection point draw radius (px)", 3, 1, 20)
gen.add("heatmap_opening_kernel_px", int_t, 0, "Morphological opening kernel size (px)", 6, 0, 30)
gen.add("heatmap_gaussian_sigma_px", double_t, 0, "Gaussian blur sigma for heatmap clustering (px)", 8.0, 0.1, 100.0)
gen.add("heatmap_max_centers", int_t, 0, "Maximum number of cluster centers to extract", 9, 1, 30)
gen.add("heatmap_peak_threshold", double_t, 0, "Minimum heatmap peak value to accept a cluster center", 0.01, 0.0, 1.0)
gen.add("heatmap_suppression_radius_px", int_t, 0, "Non-maximum suppression radius between cluster centers (px)", 50, 1, 200)

exit(gen.generate(PACKAGE, "auv_mapping", "SlalomHeatmap"))
