# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# vscode
.vscode/

*__pycache__*
*.pyc

# ultralytics models
*.pt

# debug/test outputs
auv_vision/debug_output*/
auv_vision/segmentation_results/
auv_vision/slalom_depth_test_images/
auv_vision/slalom_test_images/
auv_vision/*_comparison_*/
auv_vision/**/*.md
**/tasks
.planning/
