repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        files: \.(yaml|yml)$
      - id: check-xml
        files: \.(xml|launch|launch\.xml|sdf|urdf\.xacro|xacro|urdf)$|model\.config$
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: destroyed-symlinks
      - id: check-executables-have-shebangs
        exclude: \.cpp|\.cxx|\.hpp|\.h$
      - id: forbid-submodules
      - id: check-added-large-files
      - id: check-case-conflict
  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/lsst-ts/pre-commit-xmllint
    rev: v1.0.0
    hooks:
      - id: format-xmllint
        files: \.(sdf)$|model\.config$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.5
    hooks:
      - id: clang-format
        files: \.(cpp|h|hpp)$
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        files: \.py$
  - repo: https://github.com/tier4/pre-commit-hooks-ros
    rev: v0.7.0
    hooks:
      # TODO (auv-software): This is disabled, because it needs to be fixed first
      # - id: flake8-ros
      - id: prettier-xacro
      - id: prettier-launch-xml
      - id: prettier-package-xml
      - id: ros-include-guard
      - id: sort-package-xml
  - repo: local
    hooks:
      - id: catkin_lint
        name: catkin_lint
        description: Check package.xml and cmake files
        entry: |
          bash -c 'if [ -z "$ROS_PACKAGE_PATH" ]; then
            if [ "$CI" = "true" ]; then
              echo "Warning: ROS_PACKAGE_PATH not set in CI. Skipping catkin_lint.";
              exit 0;
            fi;
            echo "Error: ROS_PACKAGE_PATH is not set. Please source your workspace setup.bash (e.g., source devel/setup.bash) before running git commit/push.";
            exit 1;
          fi;
          catkin_lint . --skip-path auv_sim'
        language: system
        always_run: true
        pass_filenames: false
