<?xml version="1.0"?>
<robot name="gazebo_plugins" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- camera plugin -->
  <xacro:macro name="logitech_c920_camera_sim" params="name topic_name">
    <gazebo reference="${name}_link">
      <sensor type="camera" name="${name}_sensor">
        <update_rate>30.0</update_rate>
        <camera name="head">
          <horizontal_fov>1.36136</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>B8G8R8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>${topic_name}</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <frameName>${name}_link</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- imu plugin -->
  <xacro:macro name="xsens_mti_g710_sim" params="name">
    <gazebo reference="${name}_link">
      <gravity>true</gravity>
      <sensor name="${name}_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>__default_topic__</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>sensors/imu/data</topicName>
          <bodyName>${name}_link</bodyName>
          <updateRateHZ>10.0</updateRateHZ>
          <gaussianNoise>0.0</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>${name}_link</frameName>
          <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- thruster plugin -->
  <xacro:macro name="t200_thruster_sim" params="name thruster_id">
    <gazebo>
      <plugin name="${name}_plugin" filename="libuuv_thruster_ros_plugin.so">
        <linkName>${name}_propeller_link</linkName>
        <jointName>${name}_propeller_joint</jointName>
        <thrusterID>${thruster_id}</thrusterID>
        <dynamics>
          <type>FirstOrder</type>
          <timeConstant>0.05</timeConstant>
        </dynamics>
        <conversion>
          <type>Basic</type>
          <rotorConstant>0.00031</rotorConstant>
        </conversion>
      </plugin>
    </gazebo>

    <gazebo reference="${name}_propeller_link">
      <material>Gazebo/Orange</material>
      <selfCollide>false</selfCollide>
    </gazebo>

    <gazebo reference="${name}_link">
      <material>Gazebo/Orange</material>
    </gazebo>
  </xacro:macro>
</robot>