<?xml version="1.0"?>
<robot name="gazebo_plugins" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- camera plugin -->
  <xacro:macro name="logitech_c920_camera_sim" params="name topic_name">
    <gazebo reference="${name}_link">
      <sensor type="camera" name="${name}_sensor">
        <update_rate>30.0</update_rate>
        <camera name="head">
          <horizontal_fov>1.36136</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>B8G8R8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>${topic_name}</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <frameName>${name}_link</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- imu plugin -->
  <xacro:macro name="xsens_mti_g710_sim" params="name">
    <gazebo>
      <plugin filename="libuuv_gazebo_ros_imu_plugin.so"
        name="${name}_imu_plugin">
        <robot_namespace>taluy</robot_namespace>
        <link_name>${name}_link</link_name>
        <sensor_topic>sensors/imu/data</sensor_topic>
        <gyroscope_noise_density>0.0002514074</gyroscope_noise_density>
        <gyroscope_random_walk>0.000038785</gyroscope_random_walk>
        <gyroscope_bias_correlation_time>1000.0</gyroscope_bias_correlation_time>
        <gyroscope_turn_on_bias_sigma>0.0087</gyroscope_turn_on_bias_sigma>
        <accelerometer_noise_density>0.00104347826</accelerometer_noise_density>
        <accelerometer_random_walk>0.006</accelerometer_random_walk>
        <accelerometer_bias_correlation_time>300.0</accelerometer_bias_correlation_time>
        <accelerometer_turn_on_bias_sigma>0.1960</accelerometer_turn_on_bias_sigma>
        <orientation_noise>0.05</orientation_noise>
        <update_rate>80</update_rate>
        <enable_gazebo_messages>false</enable_gazebo_messages>
        <enable_local_ned_frame>false</enable_local_ned_frame>
        <static_reference_frame>world</static_reference_frame>
      </plugin>
    </gazebo>
  </xacro:macro>

  <!-- thruster plugin -->
  <xacro:macro name="t200_thruster_sim" params="name thruster_id">
    <gazebo>
      <plugin name="${name}_plugin" filename="libuuv_thruster_ros_plugin.so">
        <linkName>${name}_propeller_link</linkName>
        <jointName>${name}_propeller_joint</jointName>
        <thrusterID>${thruster_id}</thrusterID>
        <dynamics>
          <type>FirstOrder</type>
          <timeConstant>0.05</timeConstant>
        </dynamics>
        <conversion>
          <type>
            LinearInterp
          </type>
          <inputValues>
            0 1009 1100 1110 1120 1130 1140 1150 1160 1170 1180 1190 1200 1210 1220 1230 1240 1250
            1260 1270 1280 1290 1300 1310 1320 1330 1340 1350 1360 1370 1380 1390 1400 1410 1420
            1430 1440 1450 1460 1470 1480 1490 1500 1510 1520 1530 1540 1550 1560 1570 1580 1590
            1600 1610 1620 1630 1640 1650 1660 1670 1680 1690 1700 1710 1720 1730 1740 1750 1760
            1770 1780 1790 1800 1810 1820 1830 1840 1850 1860 1870 1880 1890 1900 1901 1902
          </inputValues>
          <outputValues>
            0 0 -17.34 -16.09 -15.47 -14.98 -14.13 -13.73 -12.97 -12.35 -11.86 -11.41 -10.83 -10.21
            -9.72 -9.09 -8.38 -7.76 -7.40 -6.91 -6.55 -6.11 -5.71 -5.22 -4.64 -4.19 -3.92 -3.61
            -3.21 -2.67 -2.27 -1.96 -1.65 -1.38 -1.03 -0.71 -0.49 -0.31 -0.13 -0.09 0.00 0.00 0.00
            0.00 0.00 0.09 0.36 0.62 1.03 1.43 1.92 2.50 3.03 3.61 4.23 4.73 5.35 6.02 6.73 7.22
            7.89 8.65 9.45 10.39 11.10 11.63 12.30 12.79 13.60 14.62 15.47 16.23 16.94 17.87 19.21
            20.06 20.59 21.40 22.20 22.78 23.71 24.38 24.69 0 0
          </outputValues>
        </conversion>
      </plugin>
    </gazebo>

    <gazebo reference="${name}_propeller_link">
      <material>Gazebo/Orange</material>
      <selfCollide>false</selfCollide>
    </gazebo>

    <gazebo reference="${name}_link">
      <material>Gazebo/Orange</material>
    </gazebo>
  </xacro:macro>

  <!-- bar30 plugin -->
  <xacro:macro name="bar30_sim" params="name">
    <gazebo>
      <plugin filename="libuuv_gazebo_ros_subsea_pressure_plugin.so"
        name="${name}_pressure_plugin">
        <robot_namespace>taluy</robot_namespace>
        <link_name>${name}_chasis_link</link_name>
        <sensor_topic>sensors/pressure/data</sensor_topic>
        <update_rate>50.0</update_rate>
        <saturation>5000</saturation>
        <noise_sigma>0.4</noise_sigma>
        <noise_amplitude>0.13</noise_amplitude>
        <estimate_depth_on>false</estimate_depth_on>
        <standard_pressure>101.325</standard_pressure>
        <kPa_per_meter>9.80638</kPa_per_meter>
        <enable_gazebo_messages>false</enable_gazebo_messages>
      </plugin>
    </gazebo>
  </xacro:macro>

  <!-- sonar plugin -->
  <xacro:macro name="sonar_sim" params="name">
    <gazebo reference="${name}_link">
      <sensor type="ray" name="${name}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>0.15</resolution>
              <min_angle>-0.5*0.523599</min_angle>
              <max_angle>${0.5*0.523599}</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <resolution>0.15</resolution>
              <min_angle>-${0.5*0.523599}</min_angle>
              <max_angle>${0.5*0.523599}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.5</min>
            <max>30.0</max>
            <resolution>0.15</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.5</stddev>
          </noise>
        </ray>
        <plugin filename="libgazebo_ros_range.so" name="${name}_range_plugin">
          <topicName>${name}/data</topicName>
          <frameName>${name}_link</frameName>
          <gaussianNoise>0.005</gaussianNoise>
          <alwaysOn>true</alwaysOn>
          <updateRate>10</updateRate>
          <visualize>true</visualize>
          <radiation>infrared</radiation>
          <fov>0.523599</fov>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
