<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find auv_sim_description)/urdf/gazebo_plugins.urdf.xacro" />

  <xacro:bar30_sim name="${namespace}/base_link/external_pressure_sensor" />
  <xacro:sonar_sim name="${namespace}/base_link/sonar_front" />
  <xacro:sonar_sim name="${namespace}/base_link/sonar_back" />
  <xacro:sonar_sim name="${namespace}/base_link/sonar_right" />
  <xacro:sonar_sim name="${namespace}/base_link/sonar_left" />
  <xacro:logitech_c920_camera_sim name="${namespace}/base_link/front_camera"
    topic_name="cameras/cam_front" />
  <xacro:logitech_c920_camera_sim name="${namespace}/base_link/bottom_camera"
    topic_name="cameras/cam_bottom" />
  <xacro:xsens_mti_g710_sim name="${namespace}/base_link/imu" namespace="${namespace}" static_reference_frame="${inertial_reference_frame}" />
</robot>
