<?xml version="1.0"?>
<model>
    <name>teknofest</name>
    <version>1.0</version>
    <sdf version='1.6'>pipeline.sdf</sdf>

    <author>
        <name>Melih Okur</name>
        <email>melihokur.okur@gmail.com</email>
    </author>

    <description>
        teknofest pipeline
    </description>
</model>
