<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="bar30">
  <xacro:macro name="bar30" params="name parent position:='0 0 0' orientation:='0 0 0' use_models:='false'">
    <link name="${name}_chasis_link">
      <inertial>
        <mass value="0.00001"/>
        <inertia ixx="0.000001" ixy="0.0" ixz="0.0" iyy="0.000001" iyz="0.0" izz="0.000001"/>
      </inertial>
      <xacro:if value="${use_models}">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 ${math.pi}"/>
          <geometry>
            <mesh filename="package://auv_common_descriptions/meshes/bar30/bar30.dae" scale="0.001 0.001 0.001"/>
          </geometry>
        </visual>
        <collision name="${name}_collision">
          <origin xyz="0 0 0" rpy="0 0 ${math.pi}"/>
          <geometry>
            <mesh filename="package://auv_common_descriptions/meshes/bar30/bar30.dae" scale="0.001 0.001 0.001"/>
          </geometry>
        </collision>
      </xacro:if>
    </link>
    <link name="${name}_link"/>
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_chasis_link"/>
      <origin xyz="${position}" rpy="${orientation}"/>
      <axis rpy="0 0 0" xyz="0 0 1"/>
    </joint>
    <joint name="${name}_sensor_joint" type="fixed">
      <axis rpy="0 0 0" xyz="0 0 1"/>
      <parent link="${name}_chasis_link"/>
      <child link="${name}_link"/>
      <origin xyz="0 0 0.0092" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
