<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="logitech_c920_camera">
  <xacro:macro name="logitech_c920_camera" params="name parent position:='0 0 0' orientation:='0 0 0'">
    <link name="${name}_link">
      <inertial>
        <mass value="0.162"/>
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      </inertial>
    </link>
    <link name="${name}_optical_link"/>
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${position}" rpy="${orientation}"/>
      <axis rpy="0 0 0" xyz="0 0 1"/>
    </joint>
    <joint name="${name}_optical_joint" type="fixed">
      <axis rpy="0 0 0" xyz="0 0 1"/>
      <parent link="${name}_link"/>
      <child link="${name}_optical_link"/>
      <origin xyz="0.01 0 0" rpy="${-math.pi/2} 0 ${-math.pi/2}"/>
    </joint>
  </xacro:macro>
</robot>
