<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="realsense_d435" params="name parent position orientation">
        <link name="${name}"/>
        
        <joint name="${name}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${name}"/>
            <origin xyz="${position}" rpy="${orientation}"/>
        </joint>

        <link name="${namespace}/_camera_depth_optical_frame"/>
        
        <joint name="${namespace}/_camera_depth_optical_joint" type="fixed">
            <parent link="${name}"/>
            <child link="${namespace}/_camera_depth_optical_frame"/>
            <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
        </joint>
    </xacro:macro>
</robot> 