<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="turquoise" />
  <arg name="compressed" default="true" />
  <arg name="verbose" default="false" />
  <arg name="pub_camera_info" default="true" />

  <include file="$(find auv_bringup)/launch/inc/start_cameras.launch.xml">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="compressed" value="$(arg compressed)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="pub_camera_info" value="$(arg pub_camera_info)" />
  </include>
</launch>