<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy"/>
  <arg name="prefix" default="log"/>
  <arg name="logging_directory" default="$(optenv HOME)/bags"/>
  <arg name="include_pattern" default=".*"/>
  <arg name="exclude_pattern" default="/.*image_[^/]*$|/.*theora$|/(?!.*image_raw/compressed$).*compressed$|/.*compressedDepth$|/.*points_filtered$|/.*points$"/>
  <arg name="topics" default=""/>
  <arg name="log_filename" default=""/>
  <group ns="$(arg namespace)">
    <node
      name="auv_logger"
      pkg="rosbag"
      type="record"
      output="screen"
      args=" --output-prefix=$(arg logging_directory)/$(arg prefix)$(arg log_filename) -e $(arg include_pattern) -x $(arg exclude_pattern) $(arg topics)"
    />
  </group>
</launch>
