<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="turquoise" />
  <arg name="control_rate" default="20.0" />
  <arg name="dvl_virtual_port" default="/tmp/vcom0" />
  <arg name="use_gui" default="false" />

  <rosparam file="$(find auv_bringup)/config/environment.yaml" command="load" ns="" />

  <!-- launch state publisher  -->
  <include file="$(find auv_bringup)/launch/inc/localization/start_state_publisher.launch.xml">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="use_gui" value="$(arg use_gui)" />
  </include>

  <!-- launch xsens driver -->
  <include file="$(find auv_bringup)/launch/inc/sensors/start_xsens_driver.launch.xml">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="control_rate" value="$(arg control_rate)" />
    <arg name="port" value="/dev/auv_imu" />
  </include>

  <!-- launch ping360 driver -->
  <include file="$(find auv_bringup)/launch/inc/sensors/start_ping360_driver.launch.xml">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="device_ip" value="192.168.7.151" />
    <arg name="device_port" value="12345" />
  </include>

  <!-- launch expansion bridge -->
  <include file="$(find auv_bringup)/launch/inc/boards/start_expansion_board_bridge.launch.xml">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="baudrate" value="921600" />
    <arg name="port" value="/dev/auv_expansion_board" />
    <arg name="virtual_port" value="$(arg dvl_virtual_port)" />
  </include>

  <!-- launch dvl driver -->
  <include file="$(find auv_bringup)/launch/inc/sensors/start_wayfinder_dvl_driver.launch.xml">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="port" value="$(arg dvl_virtual_port)" />
  </include>

  <!-- launch cameras -->
  <include file="$(find auv_bringup)/launch/inc/sensors/start_cameras.launch.xml">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find auv_localization)/launch/start.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find auv_bringup)/launch/robot_localization.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find auv_control)/launch/start.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find auv_bringup)/launch/inc/logging.launch.xml">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="logging_directory" value="/home/jetson/bags/" />
  </include>

  <include file="$(find auv_mapping)/launch/start.launch">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="control_rate" value="$(arg control_rate)" />
  </include>

</launch>
