<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="turquoise" />
  <arg name="control_rate" default="20.0" />
  <arg name="use_gui" default="false" />
  <arg name="start_state_publisher" default="false" />

  <include file="$(find auv_localization)/launch/start.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find auv_bringup)/launch/robot_localization.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find auv_control)/launch/start.launch">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="rate" value="$(arg control_rate)" />
    <arg name="use_gui" value="$(arg use_gui)" />
    <arg name="start_state_publisher" value="$(arg start_state_publisher)" />
  </include>

  <include file="$(find auv_mapping)/launch/start.launch">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="control_rate" value="$(arg control_rate)" />
  </include>
</launch>
