<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy" />
  <arg name="image_topic" default="/$(arg namespace)/cameras/cam_front/image_raw" />
  <arg name="vitpose_model_path" default="$(find auv_detection)/models/valve_vitpose_l_fp16.engine" />
  <arg name="device" default="cuda:0" />
  <arg name="conf_threshold" default="0.5" />
  <arg name="yolo_result_topic" default="/yolo_result_tac_valve" />
  <arg name="yolo_conf_thres" default="0.25" />

  <include file="$(find auv_detection)/launch/inc/tracker_tac_valve.launch">
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="input_topic" value="$(arg image_topic)" />
    <arg name="result_topic" value="$(arg yolo_result_topic)" />
    <arg name="conf_thres" value="$(arg yolo_conf_thres)" />
    <arg name="device" value="$(arg device)" />
  </include>

  <group ns="$(arg namespace)">
    <node pkg="auv_vision" type="valve_keypoint_node.py"
          name="valve_keypoint_node" output="screen">
      <param name="image_topic" value="$(arg image_topic)" />
      <param name="yolo_result_topic" value="$(arg yolo_result_topic)" />
      <param name="vitpose_model_path" value="$(arg vitpose_model_path)" />
      <param name="device" value="$(arg device)" />
      <param name="conf_threshold" value="$(arg conf_threshold)" />
      <param name="result_topic" value="/keypoint_result_front" />
      <param name="image_out_topic" value="/keypoint_image_front" />
    </node>

    <node pkg="auv_vision" type="keypoint_pose_node.py"
          name="keypoint_pose_node" output="screen">
      <param name="config_file" value="$(find auv_vision)/config/keypoint_objects.yaml" />
      <remap from="object_transform_updates" to="map/object_transform_updates" />
    </node>

    <node pkg="auv_mapping" type="valve_trajectory_publisher.py"
          name="valve_trajectory_publisher" output="screen">
      <remap from="set_object_transform" to="map/set_object_transform" />
    </node>
  </group>

</launch>
