<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy" />
  <arg name="imu_topic" default="$(eval '/vectornav/IMU' if arg('namespace') == 'taluy_mini' else 'sensors/imu/data')" />
  <arg name="dvl_is_valid_topic" default="$(eval 'dvl/is_valid' if arg('namespace') == 'taluy_mini' else 'sensors/dvl/is_valid')" />

    <node name="taluy_gui" ns="$(arg namespace)" pkg="auv_teleop" type="taluy_gui.py" output="screen">
        <remap from="set_depth" to="set_depth"/>
        <remap from="localization_enable" to="auv_localization_node/enable"/>
        <remap from="dvl/enable" to="sensors/dvl/enable"/>
        <remap from="ball_dropper/drop" to="actuators/ball_dropper/drop"/>
        <remap from="torpedo_1/launch" to="actuators/torpedo_1/launch"/>
        <remap from="torpedo_2/launch" to="actuators/torpedo_2/launch"/>
        <remap from="cmd_vel" to="cmd_vel"/>
        <remap from="enable" to="enable"/>
        <remap from="drive_pulse" to="board/drive_pulse"/>
        <remap from="clear_object_transforms" to="map/clear_object_transforms"/>
        <remap from="power" to="mainboard/power_sensor/power" />

        <remap from="align_frame/cancel" to="control/align_frame/cancel"/>
        <remap from="reset_odometry" to="reset_odometry"/>
        <remap from="calibrate_imu" to="calibrate_imu"/>

        <param name="topic_imu" value="$(arg imu_topic)" />
        <param name="topic_dvl_validity" value="$(arg dvl_is_valid_topic)" />
        <param name="topic_pressure" value="sensors/external_pressure_sensor/depth" />
        <param name="topic_camera_bottom" value="cameras/cam_bottom/image_raw" />
        <param name="topic_camera_front" value="cameras/cam_front/image_raw" />
    </node>
</launch>
