<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy" />
  <arg name="control_rate" default="10" />
  <arg name="static_frame" default="odom" />
  <arg name="target_gate_frame" default="gate_shark_link" />
  <arg name="torpedo_frame" default="torpedo_map_link" />
  <arg name="torpedo_realsense_frame" default="torpedo_map_link_closest" />
  <arg name="torpedo_hole_frame" default="torpedo_hole_upper_link" />

  <include file="$(find auv_mapping)/launch/process_tracker_with_cloud.launch" />

  <group ns="$(arg namespace)">
    <node pkg="auv_vision" type="camera_detection_pose_estimator.py" name="camera_detection_pose_estimator" output="screen">
      <rosparam command="load" file="$(find auv_bringup)/config/environment.yaml" />
      <remap from="object_transform_updates" to="map/object_transform_updates" />
      <remap from="odom_pressure" to="localization/odom_pressure" />
      <remap from="enable_front_camera_detections" to="vision/enable_front_camera_detections"/>
      <remap from="enable_bottom_camera_detections" to="vision/enable_bottom_camera_detections"/>
      <remap from="set_front_camera_focus" to="vision/set_front_camera_focus"/>
      <remap from="set_bottom_camera_focus" to="vision/set_bottom_camera_focus"/>
    </node>

    <node pkg="auv_mapping" type="object_map_tf_server_node" name="object_map_tf_server_node">
      <param name="rate" value="$(arg control_rate)" />
      <param name="static_frame" value="$(arg static_frame)" />
      <param name="distance_threshold" value="4.0" />

      <remap from="set_object_transform" to="map/set_object_transform" />
      <remap from="clear_object_transforms" to="map/clear_object_transforms" />
      <remap from="object_transform_updates" to="map/object_transform_updates" />
    </node>

    <node pkg="auv_mapping" type="gate_trajectory_publisher.py" name="gate_trajectory_publisher">
      <remap from="toggle_coin_flip_rescuer" to="toggle_coin_flip_rescuer" />
      <remap from="odometry" to="odometry" />
      <remap from="toggle_gate_trajectory" to="toggle_gate_trajectory" />
      <remap from="set_object_transform" to="map/set_object_transform" />
    </node>

    <node pkg="auv_mapping" type="acoustic_transmitter.py" name="acoustic_transmitter">
      <remap from="modem/data/tx" to="modem/data/tx" />
    </node>

    <node pkg="auv_mapping" type="bin_trajectory_publisher.py" name="bin_trajectory_publisher">
      <rosparam command="load" file="$(find auv_mapping)/config/bin_trajectory_publisher_params.yaml" />
      <remap from="toggle_bin_trajectory" to="toggle_bin_trajectory" />
      <remap from="set_object_transform" to="map/set_object_transform" />
    </node>

    <node pkg="auv_mapping" type="slalom_trajectory_publisher.py" name="slalom_trajectory_publisher" output="screen">
      <rosparam command="load" file="$(find auv_mapping)/config/slalom.yaml" />
      <remap from="set_object_transform" to="map/set_object_transform" />
      <param name="config_file" value="$(find auv_mapping)/config/slalom.yaml" />
    </node>

    <node pkg="auv_mapping" type="gps_target_frame_publisher.py" name="gps_target_frame_publisher" output="screen">
      <remap from="set_object_transform" to="map/set_object_transform" />
    </node>

    <node name="pointcloud_filter_node" pkg="auv_mapping" type="realsense_filter_node" output="screen">
      <remap from="camera/depth/color/points" to="camera/depth/color/points" />
      <remap from="dvl/altitude" to="sensors/dvl/altitude" />
      <remap from="pressure_sensor/depth" to="sensors/external_pressure_sensor/depth" />
      <remap from="points_filtered" to="points_filtered" />
    </node>

    <node pkg="auv_mapping" type="torpedo_frame_publisher.py" name="torpedo_frame_publisher" output="screen">
      <param name="torpedo_frame" value="$(arg torpedo_frame)" />
      <param name="torpedo_realsense_frame" value="$(arg torpedo_realsense_frame)" />
      <param name="torpedo_hole_frame" value="$(arg torpedo_hole_frame)" />
      <remap from="set_transform_torpedo_target_frame" to="set_transform_torpedo_target_frame" />
      <remap from="set_transform_torpedo_realsense_target_frame" to="set_transform_torpedo_realsense_target_frame" />
      <remap from="set_transform_torpedo_hole_target_frame" to="set_transform_torpedo_hole_target_frame" />
      <remap from="set_object_transform" to="map/set_object_transform" />
    </node>

    <node pkg="auv_mapping" type="octagon_trajectory_publisher.py" name="octagon_trajectory_publisher">
      <remap from="set_transform_octagon_frame" to="set_transform_octagon_frame" />
      <remap from="set_object_transform" to="map/set_object_transform" />
    </node>

    <node pkg="auv_mapping" type="pipeline_trajectory_publisher.py" name="pipeline_trajectory_publisher">
      <remap from="toggle_pipeline_trajectory" to="toggle_pipeline_trajectory" />
      <remap from="set_object_transform" to="map/set_object_transform" />
    </node>

  </group>
</launch>
