<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy" />
  <arg name="control_rate" default="10" />
  <arg name="static_frame" default="odom" />


  <group ns="$(arg namespace)">
    <node pkg="auv_detection" type="camera_detection_pose_estimator.py" name="camera_detection_pose_estimator" output="screen">
      <remap from="object_transform_updates" to="map/object_transform_updates" />
      <remap from="dvl/altitude" to="sensors/dvl/altitude" />
    </node>

    <node pkg="auv_mapping" type="object_map_tf_server_node" name="object_map_tf_server_node">
      <param name="rate" value="$(arg control_rate)" />
      <param name="static_frame" value="$(arg static_frame)" />
      <param name="distance_threshold" value="4.0" />

      <remap from="set_object_transform" to="map/set_object_transform" />
      <remap from="clear_object_transforms" to="map/clear_object_transforms" />
      <remap from="object_transform_updates" to="map/object_transform_updates" />
    </node>

    <node pkg="auv_mapping" type="gate_trajectory_publisher.py" name="gate_trajectory_publisher">
      <param name="gate_frame1" value="gate_blue_arrow_link" />
      <param name="gate_frame2" value="gate_red_arrow_link" />
      <param name="gate_exit_frame" value="gate_exit" />
      <param name="gate_enterance_frame" value="gate_enterance" />
      <param name="gate_selected_frame" value="gate_blue_arrow_link" />
      <param name="world_frame" value="$(arg static_frame)" />
    </node>
  </group>
</launch>
