<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="turquoise" />
  <arg name="control_rate" default="10" />

  <group ns="$(arg namespace)">
    <node pkg="auv_mapping" type="object_map_tf_server.py" name="object_map_tf_server">
      <param name="rate" value="$(arg control_rate)" />
      <param name="static_frame" value="odom" />

      <remap from="set_object_transform" to="map/set_object_transform" />
    </node>
  </group>

  <node pkg="auv_control" type="bin_transform_publisher.py" name="bin_transform_publisher" />

  <include file="$(find auv_mission)/launch/start_all_detection_line_servers.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>
</launch>