<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy" />
  <arg name="tdoa_topic" default="acoustic/hydrophone/tdoa" />
  <arg name="base_angle_topic" default="acoustic/hydrophone/base_angle" />
  <arg name="marker_topic" default="acoustic/hydrophone/marker" />
  <arg name="base_link" default="$(arg namespace)/base_link" />
  <arg name="marker_length" default="1.5" />

  <group ns="$(arg namespace)">
    <node name="hydrophone_tdoa_to_angle_node" pkg="auv_hardware_bridge" type="hydrophone_tdoa_to_angle_node.py" output="screen">
      <param name="base_link" value="$(arg base_link)" />
      <param name="marker_length" value="$(arg marker_length)" />
      <remap from="acoustic/hydrophone/marker" to="$(arg marker_topic)" />
      <remap from="acoustic/hydrophone/base_angle" to="$(arg base_angle_topic)" />
      <remap from="acoustic/hydrophone/tdoa" to="$(arg tdoa_topic)" />
    </node>
  </group>
</launch>
