<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="auv_sim_base" params="namespace *gazebo inertial_reference_frame">
    <xacro:insert_block name="gazebo" />

    <xacro:include filename="$(find taluy_description)/urdf/auv_base.urdf.xacro" />
    <xacro:taluy_base />

    <xacro:include filename="$(find taluy_sim_desription)/urdf/actuators.urdf.xacro" />
    <xacro:include filename="$(find taluy_sim_desription)/urdf/sensors.urdf.xacro" />
  </xacro:macro>
</robot>
