<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="auv_sim_base" params="namespace *gazebo inertial_reference_frame use_models">
    <xacro:insert_block name="gazebo"/>
    <xacro:include filename="$(find taluy_description)/urdf/auv_base.urdf.xacro"/>
    <xacro:taluy_base use_models="$(arg use_models)"/>
    <xacro:include filename="$(find taluy_sim_description)/urdf/actuators.urdf.xacro"/>
    <xacro:include filename="$(find taluy_sim_description)/urdf/sensors.urdf.xacro"/>
    <xacro:include filename="$(find taluy_sim_description)/urdf/parallel_gripper.urdf.xacro"/>
    <!-- Parallel Gripper -->
    <xacro:parallel_gripper namespace="${namespace}" parent_link="${namespace}/base_link" mount_xyz="-0.1 0 -0.1" mount_rpy="0 ${math.pi/2} 0" mass_scale="0.001"/>
    <!-- Gripper Link (fixed frame) -->
    <link name="${namespace}/gripper_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.000001" ixy="0.0" ixz="0.0" iyy="0.000001" iyz="0.0" izz="0.000001"/>
      </inertial>
    </link>

    <joint name="gripper_link_joint" type="fixed">
      <origin xyz="-0.1 0 -0.1" rpy="0 0 0"/>
      <parent link="${namespace}/base_link"/>
      <child link="${namespace}/gripper_link"/>
    </joint>
  </xacro:macro>
</robot>
