<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="imu_update_rate" default="20"/>
  <xacro:arg name="dvl_update_rate" default="20"/>
  <xacro:arg name="pressure_update_rate" default="20"/>
  <xacro:include filename="$(find auv_common_sim_descriptions)/urdf/sensors.urdf.xacro"/>
  <xacro:sonar_sim name="${namespace}/base_link/sonar_front" topic="sensors/sonar_front"/>
  <xacro:sonar_sim name="${namespace}/base_link/sonar_back" topic="sensors/sonar_back"/>
  <xacro:sonar_sim name="${namespace}/base_link/sonar_right" topic="sensors/sonar_right"/>
  <xacro:sonar_sim name="${namespace}/base_link/sonar_left" topic="sensors/sonar_left"/>
  <xacro:logitech_c920_camera_sim name="${namespace}/base_link/front_camera" topic_name="cameras/cam_front"/>
  <xacro:logitech_c920_camera_sim name="${namespace}/base_link/bottom_camera" topic_name="cameras/cam_bottom"
    image_width="1920" image_height="1080" hfov="1.2724"
    distortion_k1="-0.330122" distortion_k2="0.135823" distortion_k3="0.0"
    distortion_t1="0.001839" distortion_t2="0.000819"/>
  <xacro:logitech_c920_camera_sim name="${namespace}/base_link/torpedo_camera" topic_name="cameras/cam_torpedo"/>
  <xacro:bar30_sim name="${namespace}/base_link/external_pressure_sensor" update_rate="$(arg pressure_update_rate)"/>
  <xacro:xsens_mti_g710_sim name="${namespace}/base_link/imu" namespace="${namespace}" static_reference_frame="${inertial_reference_frame}" update_rate="$(arg imu_update_rate)"/>
  <xacro:wayfinder_dvl_sim name="${namespace}/base_link/dvl" namespace="${namespace}" static_reference_frame="${inertial_reference_frame}" update_rate="$(arg dvl_update_rate)"/>
  <xacro:realsense_d435_sim name="${namespace}/camera"/>
</robot>
