<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="docking_puck">
  <xacro:macro name="docking_puck" params="name parent position:='0 0 0' orientation:='0 0 0' use_models:='false'">
    <link name="${name}_link">
      <!-- Collision/inertial disabled: puck is invisible and non-colliding, kept only as a frame on the AUV base -->
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${position}" rpy="${orientation}"/>
      <axis rpy="0 0 0" xyz="0 0 1"/>
    </joint>
  </xacro:macro>
</robot>
