<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="torpedo">
  <xacro:macro name="torpedo" params="name parent position:='0 0 0' orientation:='0 0 0'">
    <link name="${name}_link"/>
    <link name="${name}_upper_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://auv_common_descriptions/meshes/torpedo/torpedo.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision name="${name}_upper_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://auv_common_descriptions/meshes/torpedo/torpedo.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001"/> <!-- Adjusted mass for more realistic simulation -->
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/> <!-- Adjusted inertia -->
      </inertial>
    </link>
    <link name="${name}_lower_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://auv_common_descriptions/meshes/torpedo/torpedo.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision name="${name}_lower_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://auv_common_descriptions/meshes/torpedo/torpedo.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001"/> <!-- Adjusted mass for more realistic simulation -->
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/> <!-- Adjusted inertia -->
      </inertial>
    </link>
    <joint name="${name}_chasis_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${position}" rpy="${orientation}"/>
    </joint>
    <joint name="${name}_upper_joint" type="fixed">
      <axis rpy="0 0 0" xyz="0 0 0"/>
      <parent link="${name}_link"/>
      <child link="${name}_upper_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <joint name="${name}_lower_joint" type="fixed">
      <axis rpy="0 0 0" xyz="0 0 0"/>
      <parent link="${name}_link"/>
      <child link="${name}_lower_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>