<?xml version="1.0"?>
<model>
    <name>tac_valve</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>

    <author>
        <name>Ömer Faruk Güveloğlu</name>
        <email>farukguveloglu@gmail.com</email>
    </author>

    <description>
        TAC Valve Task Docking Station
    </description>
</model>