<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy_mini"/>
  <arg name="compressed" default="true"/>
  <arg name="verbose" default="false"/>
  <arg name="pub_camera_info" default="true"/>

  <group ns="$(arg namespace)/cameras">
    <rosparam command="load" file="$(find auv_bringup)/config/cameras_$(arg namespace).yaml"/>
  </group>

  <group ns="$(arg namespace)/cameras/cam_front">
    <node name="cam_front_depthai" pkg="auv_cam" type="oak_cam.py" output="screen"/>
    <!-- image_transport publishes image_raw/compressed automatically in c++ -->
    <node if="$(arg compressed)" name="republish_raw" pkg="image_transport" type="republish" args="raw in:=image_raw compressed out:=image_raw"/>
  </group>
  <include file="$(find auv_cam)/launch/inc/image_proc.launch.xml">
    <arg name="camera_namespace" value="$(arg namespace)/cameras/cam_front" />
  </include>

  <include file="$(find auv_cam)/launch/start_gst_camera.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="compressed" value="$(arg compressed)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="name" value="cam_bottom"/>
    <arg name="pub_camera_info" value="$(arg pub_camera_info)"/>
  </include>

</launch>
