<?xml version="1.0"?>
<robot name="dvl_altimeter" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="dvl_altimeter_sim" params="name parent orientation:='0 0 0'">
    <link name="${name}_link" />

    <joint name="${name}_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${orientation}" />
      <parent link="${parent}" />
      <child link="${name}_link" />
    </joint>

    <gazebo reference="${name}_link">
      <sensor type="ray" name="${name}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>20</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>0.01</resolution>
              <min_angle>-0.5*0.523599</min_angle>
              <max_angle>${0.5*0.523599}</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <resolution>0.01</resolution>
              <min_angle>-${0.5*0.523599}</min_angle>
              <max_angle>${0.5*0.523599}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.01</min>
            <max>100.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
        </ray>
        <plugin filename="libgazebo_ros_range.so" name="${name}_range_plugin">
          <topicName>sim/dvl_altimeter</topicName>
          <frameName>${name}_link</frameName>
          <gaussianNoise>0.005</gaussianNoise>
          <alwaysOn>true</alwaysOn>
          <updateRate>20</updateRate>
          <visualize>true</visualize>
          <radiation>infrared</radiation>
          <fov>0.523599</fov>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>