<?xml version="1.0"?>
<robot name="xsens_mti_g710" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="xsens_mti_g710_sim" params="name namespace static_reference_frame">
    <link name="${name}_sim_link">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.0000001" ixy="0" ixz="0" iyy="0.0000001" iyz="0" izz="0.0000001" />
      </inertial>
      <collision>
        <geometry>
          <cylinder length="${0.000001}" radius="${0.000001}" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 ${0.5*pi} 0" />
      </collision>
    </link>

    <joint name="${name}_sim_joint" type="revolute">
      <parent link="${name}_link" />
      <child link="${name}_sim_link" />
      <origin xyz="0 0 0" rpy="${math.pi} ${math.pi} 0" />
      <axis rpy="0 0 0" xyz="0 0 1" />
      <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0" />
    </joint>

    <gazebo>
      <plugin filename="libuuv_gazebo_ros_imu_plugin.so"
        name="${name}_imu_plugin">
        <robot_namespace>${namespace}</robot_namespace>
        <link_name>${name}_sim_link</link_name>
        <sensor_topic>sensors/imu/data</sensor_topic>
        <gyroscope_noise_density>0.0002514074</gyroscope_noise_density>
        <gyroscope_random_walk>0.000038785</gyroscope_random_walk>
        <gyroscope_bias_correlation_time>1000.0</gyroscope_bias_correlation_time>
        <gyroscope_turn_on_bias_sigma>0.0087</gyroscope_turn_on_bias_sigma>
        <accelerometer_noise_density>0.00104347826</accelerometer_noise_density>
        <accelerometer_random_walk>0.006</accelerometer_random_walk>
        <accelerometer_bias_correlation_time>300.0</accelerometer_bias_correlation_time>
        <accelerometer_turn_on_bias_sigma>0.1960</accelerometer_turn_on_bias_sigma>
        <orientation_noise>0.05</orientation_noise>
        <update_rate>80</update_rate>
        <enable_gazebo_messages>false</enable_gazebo_messages>
        <enable_local_ned_frame>false</enable_local_ned_frame>
        <static_reference_frame>${static_reference_frame}</static_reference_frame>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>