<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="turquoise" />
  <arg name="detection_namespace" default="red_buoy" />
  <arg name="max_lines" default="100" />
  <arg name="min_samples" default="2" />
  <arg name="eps" default="0.2" />

  <group ns="$(arg namespace)">
    <node pkg="auv_mission" type="detection_line_server.py"
      name="$(arg detection_namespace)_detection_line_server"
      output="screen">
      <param name="eps" value="$(arg eps)" />
      <param name="min_samples" value="$(arg min_samples)" />
      <param name="max_lines" value="$(arg max_lines)" />
      <param name="detection_namespace" value="$(arg detection_namespace)" />

      <remap from="detection_lines" to="missions/$(arg detection_namespace)/detection_lines" />
      <remap from="visualization_marker"
        to="missions/visualization_marker" />
      <remap from="detection_poses" to="missions/$(arg detection_namespace)/poses" />
      <remap from="detection_point_cloud" to="missions/$(arg detection_namespace)/point_cloud" />
    </node>
  </group>

</launch>