#!/usr/bin/env python3
PACKAGE = "auv_vision"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("k_p", double_t, 0, "Proportional gain for angular control", 1.5, 0.0, 10.0)
gen.add("max_angular_z", double_t, 0, "Maximum angular speed z", 0.8, 0.0, 5.0)
gen.add("linear_x", double_t, 0, "Target linear speed x", 0.2, 0.0, 2.0)
gen.add("k_ang", double_t, 0, "Angular error gain", 1.5, 0.0, 10.0)
gen.add("k_y", double_t, 0, "Lateral error gain", 0.0, -10.0, 10.0)
gen.add("ang_limit", double_t, 0, "Angular speed limit", 0.8, 0.0, 5.0)
gen.add("slowdown_angle", double_t, 0, "Slowdown angle factor", 1.0, 0.0, 10.0)
gen.add("v_fwd", double_t, 0, "Forward velocity", 0.2, 0.0, 2.0)
gen.add("v_min", double_t, 0, "Minimum forward velocity", 0.02, 0.0, 2.0)
gen.add("lin_limit", double_t, 0, "Linear velocity limit", 0.2, 0.0, 2.0)
gen.add("close_kernel_size", int_t, 0, "Close kernel size for morphology", 25, 1, 100)
gen.add("open_kernel_size", int_t, 0, "Open kernel size for morphology", 5, 1, 100)
gen.add("min_contour_area", int_t, 0, "Minimum contour area to consider as pipe", 250, 0, 10000)

exit(gen.generate(PACKAGE, "pipe_follower_legacy", "PipeFollowerLegacy"))
