<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy_mini" />
  <arg name="control_rate" default="20.0" />
  <arg name="dvl_virtual_port" default="TODO" />
  <arg name="use_gui" default="false" />
  <arg name="enable_logging" default="true" />
  <arg name="logging_directory" default="$(optenv HOME)/bags" />

    <!-- launch expansion bridge -->
    <include file="$(find auv_bringup)/launch/inc/boards/start_expansion_board_bridge.launch.xml">
      <arg name="namespace" value="$(arg namespace)" />
      <arg name="baudrate" value="912600" />
      <arg name="port" value="/dev/auv_taluymini_mainboard" />
      <arg name="virtual_port" value="$(arg dvl_virtual_port)" />
    </include>

    <!-- launch modem serial bridge -->
    <!-- <include file="$(find auv_bringup)/launch/inc/boards/start_modem_serial_bridge.launch.xml">
      <arg name="namespace" value="$(arg namespace)" />
      <arg name="port" value="/dev/auv_taluymini_modem" />
      <arg name="baudrate" value="921600" />
      <arg name="respawn" value="true" />
    </include> -->
</launch>
