<?xml version="1.0"?>
<model>
  <name>teknofest_pipe</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>AUV Software</name>
  </author>

  <description>
    One metre of the Teknofest bottom-following pipe. The three longitudinal
    bands are red, black, red and instances can be rotated to make a course.
  </description>
</model>
