<launch>
    <arg name="debug" default="0" />
    <arg name="namespace" default="taluy" />
    <arg name="control_rate" default="20.0" />
    <arg name="use_ned_frame" default="false" />
    <arg name="reference_frame" default="world" />
    <arg name="inertial_reference_frame" value="$(eval arg('reference_frame') + '_ned' if arg('use_ned_frame') == 'true' else arg('reference_frame'))" />

    <!-- Spawn Pose -->
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="-1" />
    <arg name="roll" default="0.0" />
    <arg name="pitch" default="0.0" />
    <arg name="yaw" default="0.0" />

    <arg name="imu_update_rate" default="20" />
    <arg name="dvl_update_rate" default="20" />
    <arg name="pressure_update_rate" default="20" />
    <arg name="model" default="$(eval find(namespace + '_sim_description') + '/urdf/' + namespace + '_sim.urdf.xacro')" />

    <node pkg="tf2_ros" type="static_transform_publisher"
        name="$(arg reference_frame)_ned_frame_publisher"
        args="0 0 0 1.5707963267948966 0 3.141592653589793 $(arg reference_frame) $(arg reference_frame)_ned" if="$(arg use_ned_frame)" />
    <!--
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="world_to_odom_publisher_node"
        args="$(arg x) $(arg y) $(arg z) $(arg roll) $(arg pitch) $(arg yaw) $(arg reference_frame) odom"
    /> -->

    <node pkg="tf2_ros" type="static_transform_publisher"
        name="world_to_odom_publisher_node"
        args="0 0 0 0 0 0 $(arg reference_frame) odom" />

    <group ns="$(arg namespace)">
        <param name="robot_description"
            command="$(find xacro)/xacro $(arg model)
            debug:=$(arg debug)
            namespace:=$(arg namespace)
            control_rate:=$(arg control_rate)
            inertial_reference_frame:=$(arg inertial_reference_frame)
            imu_update_rate:=$(arg imu_update_rate)
            dvl_update_rate:=$(arg imu_update_rate)
            pressure_update_rate:=$(arg imu_update_rate)" />

        <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false"
            output="screen"
            args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg namespace) -param /$(arg namespace)/robot_description" />

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
            respawn="true" output="screen">
            <param name="robot_description" value="/$(arg namespace)/robot_description" />
            <param name="use_tf_static" value="true" />
        </node>
    </group>
</launch>
