<launch>
  <arg name="namespace" default="taluy" />
  <arg name="name" default="cam_torpedo" />
  <arg name="compressed" default="true" />
  <arg name="camera_config" />

  <group ns="$(arg namespace)/cameras">
    <rosparam command="load" file="$(arg camera_config)" ns="$(arg name)" subst_value="true"/>

    <group ns="$(arg name)/image_raw">
      <!-- Disable unused plugins -->
      <group if="$(arg compressed)">
        <rosparam param="disable_pub_plugins">["image_transport/compressedDepth",
          "image_transport/theora"]</rosparam>
      </group>

      <!-- Disable unused plugins and compressed -->
      <group unless="$(arg compressed)">
        <rosparam param="disable_pub_plugins">["image_transport/compressed",
          "image_transport/compressedDepth", "image_transport/theora"]</rosparam>
      </group>
    </group>

    <node name="$(arg name)" type="rtsp_cam_node" pkg="auv_cam" output="screen" />
  </group>

  <include file="$(find auv_cam)/launch/inc/image_proc.launch.xml">
    <arg name="camera_namespace" value="$(arg namespace)/cameras/$(arg name)" />
  </include>
</launch>
