<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy_mini"/>
  <arg name="respawn" default="true"/>
  <group ns="$(arg namespace)">
    <!-- start modem serial board bridge -->
    <node pkg="auv_hardware_bridge" type="modem_to_ros_bridge_node.py" name="modem_serial_board_bridge_node" output="screen" respawn="$(arg respawn)">
    </node>

  </group>
</launch>
