<launch>
    <arg name="namespace" default="taluy" />
    <arg name="enabled" default="true" />

    <arg name="input_depth_topic" default="camera/depth/image_raw" />
    <arg name="input_camera_info_topic" default="camera/depth/camera_info" />
    <arg name="output_depth_topic" default="depth_anything/raw_depth" />
    <arg name="scaled_camera_info_topic" default="depth_anything/scaled_camera_info" />

    <group ns="$(arg namespace)">
        <node pkg="auv_vision" type="depth_anything_sim_bridge_node.py"
              name="depth_anything_trt_node" output="screen">
            <param name="enabled" value="$(arg enabled)" />

            <remap from="input_depth" to="$(arg input_depth_topic)" />
            <remap from="input_camera_info" to="$(arg input_camera_info_topic)" />
            <remap from="raw_depth" to="$(arg output_depth_topic)" />
            <remap from="scaled_camera_info" to="$(arg scaled_camera_info_topic)" />
            <remap from="enable" to="depth_anything_trt_node/enable" />
        </node>
    </group>
</launch>
