<launch>
  <arg name="namespace" default="taluy" />

  <include file="$(find auv_detection)/launch/inc/tracker_segment.launch" />
  <include file="$(find auv_detection)/launch/inc/tracker_detection.launch" />

  <group ns="$(arg namespace)">
    <node pkg="auv_vision" type="pipe_follower_legacy.py" name="pipe_follower_legacy_node" output="screen" />
      <remap from="cmd_vel" to="cmd_vel" />
      <remap from="debug_image" to="pipe_follower_legacy_node/debug_image" />
      <remap from="seg_mask" to="yolo_seg_to_mask/seg_mask" />
  </group>
</launch>
