<launch>
  <arg name="namespace" default="taluy" />

  <include file="$(find auv_detection)/launch/inc/tracker_segment.launch" />
  <include file="$(find auv_detection)/launch/inc/tracker_detection.launch" />

  <group ns="$(arg namespace)">
    <node pkg="auv_vision" type="pipe_follower_enhanced.py" name="pipe_follower_enhanced" output="screen">
      <remap from="seg_mask" to="yolo_seg_to_mask/seg_mask" />
      <remap from="align_frame/start" to="control/align_frame/start" />
      <remap from="align_frame/cancel" to="control/align_frame/cancel" />
      <remap from="set_object_transform" to="map/set_object_transform" />
    </node>
  </group>
</launch>
