<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="taluy"/>
  <arg name="config" default="$(find auv_vision)/config/sim_bbox_objects.yaml"/>

  <node name="tracker_node_front" pkg="auv_vision" type="sim_tracker_node.py" output="screen">
    <param name="namespace" value="$(arg namespace)"/>
    <param name="config" value="$(arg config)"/>
    <param name="camera" value="front"/>
    <param name="enabled" value="true"/>
    <param name="result_topic" value="/yolo_result_front"/>
    <param name="result_image_topic" value="/yolo_image_front/compressed"/>
  </node>

  <node name="tracker_node_slalom" pkg="auv_vision" type="sim_tracker_node.py" output="screen">
    <param name="namespace" value="$(arg namespace)"/>
    <param name="config" value="$(arg config)"/>
    <param name="camera" value="slalom"/>
    <param name="enabled" value="false"/>
    <param name="result_topic" value="/yolo_result_slalom"/>
    <param name="result_image_topic" value="/yolo_image_slalom/compressed"/>
  </node>

  <node name="tracker_node_bottom" pkg="auv_vision" type="sim_tracker_node.py" output="screen">
    <param name="namespace" value="$(arg namespace)"/>
    <param name="config" value="$(arg config)"/>
    <param name="camera" value="bottom"/>
    <param name="enabled" value="false"/>
    <param name="result_topic" value="/yolo_result_bottom"/>
    <param name="result_image_topic" value="/yolo_image_bottom/compressed"/>
  </node>

  <node name="tracker_node_torpedo" pkg="auv_vision" type="sim_tracker_node.py" output="screen">
    <param name="namespace" value="$(arg namespace)"/>
    <param name="config" value="$(arg config)"/>
    <param name="camera" value="torpedo"/>
    <param name="enabled" value="false"/>
    <param name="result_topic" value="/yolo_result_torpedo"/>
    <param name="result_image_topic" value="/yolo_image_torpedo/compressed"/>
  </node>

  <node name="tracker_node_segment" pkg="auv_vision" type="sim_tracker_node.py" output="screen">
    <param name="namespace" value="$(arg namespace)"/>
    <param name="config" value="$(arg config)"/>
    <param name="camera" value="bottom_seg"/>
    <param name="enabled" value="false"/>
    <param name="result_topic" value="/yolo_result_seg"/>
    <param name="result_image_topic" value="/yolo_image_seg/compressed"/>
  </node>
</launch>
