<?xml version="1.0"?>
<model>
    <name>tac_pipe</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>

    <author>
        <name>Faruk Mimarlar</name>
        <email>mimarlarf@gmail.com</email>
    </author>

    <description>
        TAC pipe with ArUco markers
    </description>
</model>
