---
name: industrial_ci

on:
  workflow_call:
    inputs:
      runner:
        description: 'Runner type'
        required: true
        type: string
      docker_image_tag:
        description: 'Docker image tag'
        required: true
        type: string

jobs:
  industrial_ci:
    runs-on: ${{ inputs.runner }}
    steps:
      - uses: actions/checkout@v4
      - name: make temp build directory using mktemp
        id: make_temp_build_dir
        run: |
          directory=$(mktemp -d)
          echo build_directory=$directory >> $GITHUB_ENV
      - name: Configure runner apt to use Ubuntu mirror redirector and enable universe
        run: |
          sudo apt-get update || true
          sudo apt-get install -y software-properties-common || true
          sudo add-apt-repository universe || true
          sudo bash -c 'printf "%s\n" "deb http://mirror://mirrors.ubuntu.com/mirrors.txt focal main restricted universe multiverse" > /etc/apt/sources.list'
          sudo bash -c 'printf "%s\n" "deb http://mirror://mirrors.ubuntu.com/mirrors.txt focal-updates main restricted universe multiverse" >> /etc/apt/sources.list'
          sudo bash -c 'printf "%s\n" "deb http://mirror://mirrors.ubuntu.com/mirrors.txt focal-security main restricted universe multiverse" >> /etc/apt/sources.list'
          sudo apt-get update
      - uses: ros-industrial/industrial_ci@master
        env:
          ROS_DISTRO: noetic
          UPSTREAM_WORKSPACE: third_party.repos
          TARGET_WORKSPACE: ". -auv_sim"
          ADDITIONAL_DEBS: lld libxml2-dev libxslt-dev python3-pyside2.qtcore python3-pyside2.qtgui python3-pyside2.qtwidgets
          BASEDIR: ${{ steps.make_temp_build_dir.outputs.build_directory }}
          AFTER_SETUP_UPSTREAM_WORKSPACE: mv $BASEDIR/upstream_ws/third_party $BASEDIR/upstream_ws/src/; vcs pull $BASEDIR/upstream_ws/src
          DOCKER_IMAGE: ${{ inputs.docker_image_tag }}
          CATKIN_LINT: true
          TARGET_CMAKE_ARGS: >
            -DCMAKE_EXE_LINKER_FLAGS=-fuse-ld=lld
            -DCMAKE_SHARED_LINKER_FLAGS=-fuse-ld=lld
            -DCMAKE_MODULE_LINKER_FLAGS=-fuse-ld=lld
            -DCMAKE_BUILD_TYPE=Release
      - name: cleanup temp build directory
        if: always()
        run: rm -rf ${{ steps.make_temp_build_dir.outputs.build_directory }}
